<div class="container marketing" ng-controller='homeController'>
  <h1> {{ title}} </h1>

  <hr>
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="" alt="Generic placeholder image" width="140" height="140">
          <h2>Books</h2>
          <p>This session is for book lovers, who likes to read interesting books. You can go to book section in details and get all the books collection. You can find interesting books in this session. You can enjoy reading this books in books section. Enjoy reading...! .</p>
          <p><a class="btn btn-secondary" href="#books" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="" alt="Generic placeholder image" width="140" height="140">
          <h2>Character</h2>
          <p>Here are the characters invoved in different books. Each and every character displayed in the link are present in the any of books in books section. You can know about the character by checking in details. </p>
          <p><a class="btn btn-secondary" href="#characters" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="" alt="Generic placeholder image" width="140" height="140">
          <h2>Houses</h2>
          <p>We have totally ten houses combining all the books together in books section. You can know about each house in details in houses section.</p>
          <p><a class="btn btn-secondary" href="#houses" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div>
    </div>
        